body{
  background-color: #002b49;
}



@media only screen and (min-width: 600px){
  .formLogin{
    padding: 50px;
    margin: 15vw;
    border-radius: 20px;
    background-color: white;
  }
}

@media only screen and (max-width: 600px){
  .formLogin{
    padding: 50px;
    margin: 0px;
    margin-top: 34vh;
    border-radius: 20px;
    background-color: white;
  }
}

/*
.formLogin{
  padding: 50px;
  margin: 15vw;
  border-radius: 20px;
  background-color: white;
}*/

.erroLogin{
  border: 2px solid red;
}
